body {
  background: #eee;
  font-family: sans-serif;
  margin: auto;
}

.card {
  width:400px;
  background: #fff;
 margin: 16px auto;
  padding: auto;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  border: solid white;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 0px;

}

.content {
  margin-bottom: 8px;
  background: #e3f4ff;
  border: solid white;
  padding: 16px 8px;
  border-width: 4px;
  margin-top: -8px;
  
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  border: 8px solid white;
  margin-top: -10px;
}

button {
  display: block;
  
  background: white;
  border:  8px solid #eee;
  font-weight: bold;
  padding: 8px 24px;
  margin: 0 auto;
  
}